@import "../index.css";

body {
	font-family: Arial, sans-serif;
	background-color: var(--page-bg-color);
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow-x: hidden;
}

.logo {
	height: 40px;
	width: 40px;
	padding-right: 20px;
}

.navbar {
	height: 40px;
	background-color: var(--navbar-color);
	border: 2px solid var(--navbar-color);
	padding: 10px;
	display: flex;
	align-items: center;
	width: 100%;
}

.link-style {
	color: var(--page-bg-color);
	text-decoration: none;
	font-size: 24px;
	padding-right: 20px;
}

.link-style:hover {
	color: var(--page-bg-color);
}

.project-content {
	flex-direction: row;
	height: calc(100vh - 40px);
}

.project-list {
	width: 50%;
	overflow-y: scroll;
	overflow-x: hidden;
	display: flex;
	align-items: center;
	flex-direction: column; 
	gap: 1rem; 
}

.streak-wrapper {
	text-align: center;
	width: 100%;
}

#create-project-btn {
	border-radius: 5px;
	padding: 10px;
	border: 2px solid var(--dark-color);
	background-color: var(--dark-color);
	color: var(--page-bg-color);
	font-weight: bold;
	cursor: pointer;
	margin-bottom: 1rem;
}

.project-card {
	height: 5rem;
	margin: 1rem 5rem 1rem 5rem;
	padding: 1rem;
	border-radius: 5px;
	border: 2px solid var(--dark-color);
	background-color: var(--dark-color);
	color: var(--page-bg-color);
	width: 90%;
}

.project-card-buttons-list {
	margin: 1rem 0 0 0;
}

.project-card-button {
	padding: 10px;
	border-radius: 5px;
	margin: 2px;
	width: 22%;
	border: 2px solid var(--dark-color);
	background-color: var(--page-bg-color);
	color: var(--dark-color);
	cursor: pointer;
}

.streak-btn {
	border: none;
	border-radius: 5px;
	padding: 12px 20px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.1s;
}

.streak-btn.default {
	background-color: #2196f3;
	color: blanchedalmond;
}

.streak-btn.clicked {
	background-color: var(--dark-color);
	color: var(--page-bg-color);
}

.streak-btn:hover {
	transform: scale(1.05);
}

.streak-btn:active {
	transform: scale(0.95);
}

.last-checkin {
	font-size: 14px;
	color: var(--page-bg-color);
	margin: 10px 0;
}

.popup-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 1000;
}

.popup {
	background-color: var(--dark-color);
	padding: 20px;
	border-radius: 8px;
	width: 300px;
	box-shadow: 0 4px 6px var(--dark-color);
}

.popup h2 {
	margin: 0 0 20px;
	font-size: 20px;
	color: #f3f3e0;
}

.popup form {
	display: flex;
	flex-direction: column;
	background-color: var(--dark-color);
}

.popup form label {
	margin-bottom: 10px;
	font-size: 14px;
	color: #f3f3e0;
}

.popup form select {
	margin-bottom: 20px;
	padding: 8px;
	font-size: 14px;
	border: 1px solid var(--dark-color);
	border-radius: 4px;
}

.popup form button {
	padding: 10px;
	font-size: 14px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.popup form button[type="submit"] {
	background-color: #ead8b1;
	color: var(--dark-color);
}

.popup form button[type="button"] {
	background-color: #f96e2a;
	color: white;
	margin-top: 10px;
}

.popup form button:hover {
	opacity: 0.9;
}

.hidden {
	display: none;
}
