body {
	font-family: Arial, sans-serif;
	background-color: #E7F5E9;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.project-list {
	width: 50%;
	overflow-y: scroll;
	display: flex;
	flex-direction: column; /* Ensures vertical alignment */
	gap: 1rem; /* Adds spacing between buttons */
	align-items: center; /* Centers the buttons horizontally */
}

.streak-wrapper {
	text-align: center;
	width: 100%;
}

#create-project-btn {
	border-radius: 5px;
	padding: 10px;
	border: 2px solid #0f1b2e;
	background-color: #0f1b2e;
	color: #E7F5E9;
	font-weight: bold;
	cursor: pointer;
	margin-bottom: 1rem; /* Adds spacing below the button */
}

.project-card {
	height: 5rem;
	margin: 1rem 5rem;
	padding: 1rem;
	border-radius: 5px;
	border: 2px solid #0f1b2e;
	background-color: #0f1b2e;
	color: #E7F5E9;
	width: 75%;
}

.project-card-buttons-list {
	margin: 1rem 0 0 0;
}

.project-card-button {
	padding: 10px;
	border-radius: 5px;
	margin: 10px;
	border: 2px solid #0f1b2e;
	background-color: #E7F5E9;
	color: #0f1b2e;
	cursor: pointer;
}

.streak-btn {
	border: none;
	border-radius: 5px;
	padding: 12px 20px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.1s;
}

.streak-btn.default {
	background-color: #2196f3;
	color: blanchedalmond;
}

.streak-btn.clicked {
	background-color: #4caf50;
	color: white;
}

.streak-btn:hover {
	transform: scale(1.05);
}

.streak-btn:active {
	transform: scale(0.95);
}

.last-checkin {
	font-size: 14px;
	color: #555;
	margin: 10px 0;
}

.popup-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.popup {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	width: 300px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.popup h2 {
	margin: 0 0 20px;
	font-size: 20px;
	color: #333;
}

.popup form {
	display: flex;
	flex-direction: column;
}

.popup form label {
	margin-bottom: 10px;
	font-size: 14px;
	color: #333;
}

.popup form select {
	margin-bottom: 20px;
	padding: 8px;
	font-size: 14px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.popup form button {
	padding: 10px;
	font-size: 14px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.popup form button[type="submit"] {
	background-color: #4caf50;
	color: white;
}

.popup form button[type="button"] {
	background-color: #f44336;
	color: white;
	margin-top: 10px;
}

.popup form button:hover {
	opacity: 0.9;
}

.hidden {
	display: none;
}
